**/.*.sw?
gogit
**/*.[oa]
.gradle
build/exe/frcUserProgram/frcUserProgram
build/tmp/compileFrcUserProgramExecutableFrcUserProgramCpp/options.txt
build/tmp/compileFrcUserProgramExecutableFrcUserProgramCpp/output.txt
*.vim
